@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
/* line 3, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 8, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home .universal__layer {
  width: 100%;
  height: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 153, 255, 0.2)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3)); }

/* line 5, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
p ol ul li dl dt dd blockquote figure fieldset legend textarea pre iframe hr {
  padding: 0;
  margin: 0; }

/* line 8, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
h1 h2 h3 h4 h5 h6 {
  font-size: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0; }

/* line 15, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
ul {
  list-style: none; }

/* line 18, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
button input select textarea {
  margin: 0; }

/* line 21, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
html body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: 0;
  -webkit-user-select: 0;
  -khtml-user-select: 0;
  -moz-user-select: 0;
  -ms-user-select: 0;
  user-select: 0; }

/* line 26, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
* *:before *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* line 29, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
img embed iframe object audio video {
  height: auto;
  max-width: 100%; }

/* line 33, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
iframe {
  border: 0; }

/* line 36, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 40, ../../../Desktop/one_contact/sass/browserCompatibility/miniReset.sass */
td th {
  padding: 0;
  text-align: left; }

@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
/* line 3, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 8, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home .universal__layer {
  width: 100%;
  height: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 153, 255, 0.2)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3)); }

@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
/* line 3, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 8, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home .universal__layer {
  width: 100%;
  height: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 153, 255, 0.2)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3)); }

/* line 10, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
#home {
  max-width: 100vw;
  width: 100%;
  height: 700px;
  padding: 0;
  margin: 0;
  position: relative;
  background: #66cc99;
  background-image: url("..//images/wallpaper/banner-bg.jpg"); }
  /* line 23, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
  #home .universal__layer .home__text--container {
    background: blue;
    position: absolute;
    left: 1vw;
    right: 1vw;
    margin: 200px auto;
    text-align: center;
    color: white;
    font-stretch: 1em;
    font-weight: light;
    text-transform: capitalize;
    word-wrap: break-word; }
    @media only screen and (max-width: 320px) {
      /* line 23, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
      #home .universal__layer .home__text--container {
        background: yellow; } }
    @media only screen and (min-width: 321px) and (max-width: 719px) {
      /* line 23, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
      #home .universal__layer .home__text--container {
        background: pink; } }
    @media only screen and (min-width: 720px) and (max-width: 1024px) {
      /* line 23, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
      #home .universal__layer .home__text--container {
        background: green; } }
    /* line 44, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
    #home .universal__layer .home__text--container h1.home__text--container--mainTitle {
      font-family: "Open Sans", sans-serif;
      font-size: 4.4em;
      line-height: 1.2em; }
    /* line 50, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
    #home .universal__layer .home__text--container h5.home__text--container--mainSubtitle {
      font-family: mainFont__Light, sans-serif;
      font-size: 1.5em; }
  /* line 54, ../../../Desktop/one_contact/sass/block/_home--partial.sass */
  #home .menu__navbar {
    width: 100%;
    padding: 2em 0;
    background: #3399ff;
    position: fixed;
    z-index: 999999999; }

@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
@font-face {
  font-family: mainFont__Regular;
  font-family: mainFont__Medium;
  font-family: mainFont__Light;
  font-weight: normal;
  font-style: normal;
  src: url(fonts/titleFont/OpenSans-Regular.ttf) format("ttf"); }
/* line 3, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 8, ../../../Desktop/one_contact/sass/buildingBlocks/inheritance.sass */
#home .universal__layer {
  width: 100%;
  height: inherit;
  padding: 0;
  margin: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 153, 255, 0.2)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3));
  background: linear-gradient(rgba(51, 153, 255, 0.2), rgba(255, 255, 255, 0.3)); }

/* line 6, ../../../Desktop/one_contact/sass/block/_info--partial.sass */
#info {
  max-width: 100vw;
  width: 100%;
  height: 700px;
  padding: 0;
  margin: 0;
  position: relative;
  background: white; }
  /* line 13, ../../../Desktop/one_contact/sass/block/_info--partial.sass */
  #info .info__text--container {
    background: blue;
    position: absolute;
    left: 1vw;
    right: 1vw;
    margin: 50px auto;
    text-align: center;
    color: #333333;
    font-stretch: 1em;
    font-weight: light;
    text-transform: capitalize;
    word-wrap: break-word; }

/* line 7, ../../../Desktop/one_contact/sass/mainStyle.sass */
body {
  background: #2d8659; }


