@font-face 
    font-family: mainFont__Regular
    font-family: mainFont__Medium
    font-family: mainFont__Light

    src: url(..//fonts/titleFont/Montserrat-Regular.ttff)
    //src: url(..//fonts/titleFont/Montserrat-Medium.ttff)
    //src: url(..//fonts/titleFont/Montserrat-Light.ttff)