/// main UNITS \\\
$widthMax: 100vw
$screenInPercentage: 100%
$screenInFlow: auto
$defaultFontSize: 1em
$defaultTextLine: 1em

/// media Queries units \\\
$webKit-ratio: 2
$portrait: portrait
$landscape: landscape

$min-width: min-device-width
$max-width: max-device-width

$custom-device-width: device-width
$custom-device-height: device-height

$minUnit-on-mini-devices: 320px
$maxUnit-on-mini-devices: 480px

$minUnit-on-medium-devices: 768px
$maxUnit-on-medium-devices: 1024px

$minUnit-on-medium-custom-devices: 800px
$maxUnit-on-medium-custom-devices: 1280px

$minUnit-on-maxium-devices: 1200px
$maxUnit-on-maximum-devices: 1600px

/// custom devices \\\
$568-custom: 568px
$375-custom: 375px
$667-custom: 667px
$640-custom: 640px
$360-custom: 360px
$414-custom: 414px
$812-custom: 812px
$601-custom: 601px
$736-custom: 736px