/// main UNITS \\\
$widthMax: 100vw
$screenInPercentage: 100%
$screenInFlow: auto
$defaultFontSize: 1em
$defaultTextLine: 1em

/// media Queries units \\\
$orient-port: portrait
$orient-land: landscape

$min-width-on-device: min-device-width
$max-width-on-device: max-device-width

$custom-device-width: min-width
$custom-device-max-width: max-width
$max-height-on-device: max-device-height

$min-on-mini-devices: 20em
$max-on-mini-devices: 30em
$min-on-medium-devices: 48em
$max-on-medium-devices: 64em
$min-on-medium-custom-devices: 70.25em
$max-on-medium-custom-devices: 114em

/// custom devices \\\
$customMediaUnit-568: 35.5em
$customMediaUnit-375: 23.4375em
$customMediaUnit-667: 41.6875em
$customMediaUnit-640: 40em
$customMediaUnit-360: 22.5em
$customMediaUnit-414: 25.875em
$customMediaUnit-812: 50.75em
$customMediaUnit-896: 56em
$customMediaUnit-736: 46em

/////////////  \\\\\\\\\\\\\

/// breakpoints \\\

/// for Small Devices \\\
//$small-screen-default: "only screen and ($min-width: $minUnit-on-mini-devices) and ($max-width: $maxUnit-on-mini-devices) and (orientation: $orientation-port) and (orientation: $orientation-land)"

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
//$small-screen-default-iPhone5-5S-5C-5SE: screen and ($min-width: $minUnit-on-mini-devices) and ($max-width: $customMediaUnit-568) and (orientation: $orientation-port) and (orientation: $orientation-land)

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
//$small-screen-default-iPhone6-6S-7-8: screen and ($min-width: $customMediaUnit-375) and ($max-width: $customMediaUnit-667) and (orientation: $orientation-port)and (orientation: $orientation-land)

/* ----------- iPhone 6+, 7+ and 8+ ----------- */ 
//$small-screen-default-iPhone6-7-8: screen and ($min-width: $customMediaUnit-414) and ($max-width: $customMediaUnit-736)
//$small-screen-portrait-iPhone6-7-8: screen and ($min-width: $customMediaUnit-414) and ($max-width: $customMediaUnit-736) and (orientation: $orientation-port) 
//$small-screen-landscape-iPhone6-7-8: screen and ($min-width: $customMediaUnit-414) and ($max-width: $customMediaUnit-736) and (orientation: $orientation-land) 
/* ----------- iPhone X ----------- */
//$small-screen-default-iPhone6-7-8: screen and ($min-width: $customMediaUnit-375) and ($max-width: $customMediaUnit-812) 
//$small-screen-portrait-iPhone6-7-8: screen and ($min-width: $customMediaUnit-375) and ($max-width: $customMediaUnit-812) and (orientation: $orientation-port) 
//$small-screen-landscape-iPhone6-7-8: screen and ($min-width: $customMediaUnit-375) and ($max-width: $customMediaUnit-812) and (orientation: $orientation-land)
/////////////  \\\\\\\\\\\\\
//$medium-screen: "only screen and (min-width: 321px) and (max-width: 719px)"
//$big-screen: "only screen and (min-width: 720px) and (max-width: 1024px)"