/// main UNITS \\\
$widthMax: 100vw
$screenInPercentage: 100%
$screenInFlow: auto
$defaultFontSize: 1em
$defaultTextLine: 1em

/// media Queries units \\\
$orient-port: portrait
$orient-land: landscape

$min-width-on-device: min-device-width
$max-width-on-device: max-device-width

$custom-device-width: min-width
$custom-device-max-width: max-width
$max-height-on-device: max-device-height

$min-on-mini-devices: 20em
$max-on-mini-devices: 30em
$min-on-medium-devices: 48em
$max-on-medium-devices: 64em
$min-on-medium-custom-devices: 70.25em
$max-on-medium-custom-devices: 114em

/// custom devices \\\
$customMediaUnit-568: 35.5em
$customMediaUnit-375: 23.4375em
$customMediaUnit-667: 41.6875em
$customMediaUnit-640: 40em
$customMediaUnit-360: 22.5em
$customMediaUnit-414: 25.875em
$customMediaUnit-812: 50.75em
$customMediaUnit-896: 56em
$customMediaUnit-736: 46em

/////////////  \\\\\\\\\\\\\

/// breakpoints \\\