/// variables, colors & typography \\\
@import toolKit/tools
/// mixins, inheritance \\\
@import buildingBlocks/blocks

@import browserCompatibility/media

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

#home
    max-width: $widthMax
    width: $screenInPercentage
    height: 700px
    +boxModel(0)
    position: relative
    background: rgb(102, 204, 153)
    background-image: url("..//images/wallpaper/banner-bg.jpg")
    @extend %background
    
    .universal__layer
        @extend %layer

        .home__text--container
            background: blue
            position: absolute
            left: 1vw
            right: 1vw
            margin: (400px / 2) auto
            text-align: center
            color: $textMainColor
            font-stretch: 1em
            font-weight: light
            text-transform: capitalize
            word-wrap: break-word

            h1.home__text--container--mainTitle
                //font-family: mainFont__Regular, sans-serif
                font-family: 'Open Sans', sans-serif
                font-size: ($defaultFontSize * 4.4)
                line-height: ($defaultTextLine * 1.2)
            
            h5.home__text--container--mainSubtitle
                font-family: mainFont__Light, sans-serif
                font-size: ($defaultFontSize * 1.5)

    .menu__navbar
        width: $screenInPercentage
        padding: 2em 0
        background: $mainColorBlue
        position: fixed
        z-index: 999999999