/// variables, colors & typography \\\
@import toolKit/tools
/// mixins, inheritance \\\
@import buildingBlocks/blocks

@import browserCompatibility/media

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

#home
    max-width: $widthMax
    width: $screenInPercentage
    height: 100vh
    +boxModel(0)
    position: relative
    background: rgb(102, 204, 153)
    background-image: url("..//images/wallpaper/banner-bg.jpg")
    @extend %background
    
    .universal__layer
        @extend %layer

        .home__text--container
            //background: blue
            position: absolute
            top: 30%
            bottom: 1vh
            left: 1vw
            right: 1vw
            margin: $defaultMargin
            text-align: center
            color: $textMainColor
            font-weight: 100
            text-transform: capitalize
            word-wrap: break-word
            white-space: normal

            +respond-to(device)
                //background: brown
                h1.home__text--container--mainTitle
                font-size: ($defaultFontSize / 2.6)

            +respond-to(mobile)
                //background: yellow
                h1.home__text--container--mainTitle
                font-size: ($defaultFontSize / 2)

            +respond-to(tablets)
                //background: pink
                h1.home__text--container--mainTitle
                font-size: ($defaultFontSize / 1.6)

            +respond-to(desktops)
                //background: green
                h1.home__text--container--mainTitle
                font-size: ($defaultFontSize / 1.4)

            +respond-to(monitors)
                //background: #ff66cc
                h1.home__text--container--mainTitle
                font-size: ($defaultFontSize / 1.2)

            h1.home__text--container--mainTitle
                //font-family: 'mainFont__Regular', sans-serif
                font-family: 'Open Sans', sans-serif
                font-size: ($defaultFontSize * 4.3)
            
            h5.home__text--container--mainSubtitle
                font-family: 'Open Sans', sans-serif
                font-size: ($defaultFontSize * 1.5)

    .menu__navbar
        width: $screenInPercentage
        padding: 2em 0
        background: $mainColorBlue
        position: fixed
        z-index: 999999999