/// variables, colors & typography \\\
@import toolKit/tools
/// mixins, inheritance \\\
@import buildingBlocks/blocks

#info
    max-width: $widthMax
    width: $screenInPercentage
    height: 700px
    +boxModel(0)
    position: relative
    background: $sectionColor