/// variables, colors & typography \\\
@import toolKit/tools
/// mixins, inheritance \\\
@import buildingBlocks/blocks

#info
    max-width: $widthMax
    width: $screenInPercentage
    height: auto
    +boxModel(0)
    position: relative
    background: $sectionColor
    overflow: hidden

    .info__text--container
        background: blue       
        margin: (6.25em / 2) 1vw
        text-align: center
        color: $textSubMainColor
        font-stretch: 1em
        font-weight: light
        text-transform: capitalize
        word-wrap: break-word

    .info__content--container
        height: 70vh
        background-image: url("..//images/wallpaper/pque-block.jpg")
        @extend %background
        margin-bottom: (6.25em / 2)